
* {
    margin: 0;
}

.main-container {
    .container-title {
        background-color: #00ffff;
        display: flex;
        justify-content: space-around;
    
        img {
            width: 150px;
            margin: 10px;
        }
        
        .title {
            font-size: 3rem;
            text-align: center;
            margin: 0;
            padding: 20px 0;
        }
    }
    
    .container-text {
        p {
            padding: 20px;
            font-size: 1.5rem;
        }
    }
    
    .container-list {
        .sub-title {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}




